* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 100;
  }
 
  header {
    width: 100%;
    color: aliceblue;
    background-color:  rgb(221, 222, 217);
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .menu {
    display: flex;
    padding: px;
    font-size: large;
  
  }
  a {
    color: aliceblue;
    font-size: x-large;
    margin: 10px;
    font-weight: 400;
    color: #8C6249
  }
  
  body {
    background-image: url('../img/registro/fondo_13.jpg');
    background-size:cover ;
  }
  
  .form-register {
    width: 400px;
    background: rgb(221, 222, 217);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: grey;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .controls {
    width: 100%;
    background: rgb(221, 222, 217);
    padding: 10px;
    border-radius: 4px;
  
    border: 3px solid gray;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
  }
  
  .form-register a {
    color: rgb(74, 74, 238);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #747475;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 300;
  }

  .form-register  {
   text-align: start;
  }

  #validar_nombres, #validar_apellidos, #validar_correo {
padding-bottom: 10px;
margin-bottom: 10px;
margin-top: 0;
  }
#terminos{
  font-size: 18px;
 
  line-height:1px;
}

  footer {
    color: aliceblue;
    background-color:  #AC9D88;
    font-family: 'Montserrat';
    text-align: center;
    padding: 30 px;
  
    font-size: 28.8px;
    font-weight: 100;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
  }
  #pFooter{
    margin-bottom: 25px;
    line-height:1px;
    padding-top: 30px;
  }