* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 100;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

body {
  background-color: rgb(237, 238, 242);


}

header {
  width: 100%;
  color: aliceblue;
  background-color: rgb(221, 222, 217);
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  font-size: large;
  text-decoration: none;
  font-weight: 300;
  
}

a {
  color: aliceblue;
  font-size: x-large;
  margin: 10px;
  font-weight: 400;
  color: #8C6249
}

h1 {

  text-align: center;
  padding: 150px 200px 20px 200px;
}



h2 {
  text-align: center;
}

#foto,
#fotoDest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

/*tarjeta producto*/

.tarjeta {
  position: relative;
  width: 250px;
  height: 450px;
  color: rgb(221, 222, 217);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgb {
  width: 100%;
  height: auto;
  border-bottom: 5px solid;

}

.cuerpo {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(221, 222, 217);
  color: #8C6249;
  opacity: 20;
  transition: opacity 0.3s ease;
  text-align: center;
  font-size: 15.8px;

}

.tarjeta .cuerpo h2 {
  padding: 10px;
  font-weight: 400;
}

.tarjeta .cuerpo h3 {
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 400;
}

#dest {
  background-color: rgb(221, 222, 217);
  color: aliceblue;
  margin-bottom: 20px;
  padding: 30px;
  font-size: x-large
}

#destaca {
  background-color: rgb(221, 222, 217);
  color: #8C6249;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 50px;
  font-weight: 400;

}

.sobreNosotros #SN {
  background-color: #AC9D88;
  color: aliceblue;
  margin-top: 30px;
  padding: 30px;
  font-size: 50px;
  font-weight: 300;
  width: 100%;

}

.SNConteiner {

  font-family: Montserrat;
  font-weight: 100;
  box-sizing: border-box;
}

.sobreNosotros {
  display: flex;
  flex-direction: column;
}

#cuerpoSobreNosotros,
#cuerpoSobreNosotros2 {
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 20px;
}


#fotosSobreNosotros,
#fotosSobreNosotros2 {
  width: 100%;
  height: auto;
}

#fotoS {
  width: 100%;
  height: auto;
  border-radius: 2%;

}

#textoSobreNosotros {
  font-weight: 400;
  width: 100%;
  margin: 10px;
  line-height: 55px;
  font-size: 25px;
  padding: 25px;
  display: block;
  text-indent: 30px;
}

#textoSobreNosotros h3 {
  font-weight: 400;
  color: #8C6249;
}

#comprar {
  width: 100%;
  font-size: medium;
  font-weight: 300;
  text-align: center;
  position: sticky;
  bottom: 10px;
  padding: 10px 80px;
  background-color: #d2c1aa;
  opacity: 0%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}

.tarjeta:hover #comprar {
  opacity: 100%;
}

/*#comprar:hover {
  opacity: 100%;
}*/

#gallery {
  width: 80%;
  padding-top: 40px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  
}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-around
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-item img {
  border-radius: 20px;
  width: 100%;
  height: ;
  display: block;
}

/* Navegación del Slider */
.gallery-navigation {

  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 50%;
  background-color: transparent;
}

.nav-button {
  padding: 10px;
  color: rgb(109, 85, 65);
  font-size: 32px;
  display: flex;
  opacity: 100%;
  background-color: transparent;
  position: sticky;
  bottom: 50%;
  border-color: transparent;
}

#gallery2Coment {
  width: 100%;
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

#gallery-2 {
  width: 100%;
  padding-top: 40px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gallery-container-comentarios {
  transition: transform 0.5s ease-in-out;
  margin: 0;
  display: flex;
  justify-content: center;
}

.gallery-item-c {
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  text-align: center;
}

.gallery-item-c img {
  border-radius: 20px;
  width: 100%;

  height: auto;
}
/*footer*/
footer {
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 28.8px;
  display: flex;
  justify-content: space-around;
}


.medio {
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#aFooter {
  text-decoration: none;
  color: aliceblue;
  font-size: large;

}

.izquierda {
  text-align: left;

}
.margen{
  margin-bottom: 15px;
  margin-top: 15px;
}

.margen1{
margin-top: 15px;
}

.derecha {
  text-align: left;
}

.tabla {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  padding: 0%;
  margin-top: 0px;
}

.mail::before {
  content: url(../img/email.png);
  margin-right: 5px;
}

.boton::before {
  content: url(../img/right-arrow.png);
  margin-right: 5px;
}
h6{
  margin-bottom: 15px;
  margin-top: 15px;
}
.imgFooter{
  display: flex;
  justify-content: space-between;
}
.img2Footer{
  display: flex;
  justify-content: space-between;
}


a {
text-decoration: none;
}
/*footer*/
@media (max-width: 600px) {
footer {


  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: px;
 display:block;

 
}

h6{
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.imgFooter{
  display: flex;
  justify-content:center;
}
.img2Footer{
  display: flex;
  justify-content: center;
}
.mail{
  text-align: center;
}
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    background-color: rgb(221, 222, 217); /* Asegurar el color de fondo */
    padding: 6px;
    width: 100%;
    position: static;
  }
  
  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


}

@media (max-width: 480px) {
  #gallery {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media(max-width:480px) {
  #comprar {
    width: 100%;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    position: sticky;
    bottom: 10px;
    padding: 10px 30px;
    background-color: #d2c1aa;
    opacity: 50%;
    color: rgb(109, 85, 65);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;


  }

  #comprar:hover {
    opacity: 100%;
  }

}




@media (max-width: 480px) {
  .tarjeta {
    height: 300px;
    width: 150px;
    font-size: x-small;
    margin: 10px;
    margin-bottom: 10px;
  }

}

@media (max-width: 480px) {
  .tarjeta {
    height: 300px;
    width: 150px;
    font-size: x-small;
    margin: 10px;
    margin-bottom: 10px;
  }

}

@media (min-width: 481px) and (max-width: 800px) {
  .tarjeta {
    margin: 20px;
  }

}


@media (max-width: 480px) {
  .cuerpo {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .SNConteiner {
    flex-direction: column-reverse;
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;

  }
}

@media(max-width:480px) {
  #cuerpoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

  }

}

@media(max-width:480px) {
  #cuerpoSobreNosotros2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }

}

@media(max-width:480px) {
  #textoSobreNosotros {

    width: 100%;
    margin: 10px;
    line-height: 35px;
    font-size: 15px;
    padding: 25px;
    display: block;
    text-align: center;

  }
}

@media(max-width:480px) {
  #fotosSobreNosotros img {
    content: url("../img/fotoMediaQuerySN.png");
  }
}

@media(max-width:480px) {
  #fotosSobreNosotros2 img {
    content: url("../img/fotoMediaQuerySN2.png");
  }
}

@media(max-width:480px) {

  #cuerpoSobreNosotros,
  #cuerpoSobreNosotros2 {
    padding: 0;

  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  #cuerpoSobreNosotros2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    margin-left: 10px;

  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  #cuerpoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

@media(max-width:480px) {
  .tarjeta .cuerpo h2 {
    padding: 0;
  }
}

@media(max-width:480px) {
  .tarjeta .cuerpo h3 {
    font-size: small;
  }
}

@media(max-width:480px) {
  .gallery-item-c {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media(max-width:480px) {
  .gallery-item-c img {
    border-radius: 20px;
    width: 100%;

    height: auto;
  }
}


/*pagina registro*/
.contenedor_registro {
  background-image: url('../img/registro/fondo_13.jpg');
  background-size: cover;
}

.form-register {
  width: 400px;
  background: rgb(221, 222, 217);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: grey;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 400;
}

.controls {
  width: 100%;
  background: rgb(221, 222, 217);
  padding: 10px;
  border-radius: 4px;

  border: 3px solid gray;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
}

.form-register a {
  color: rgb(74, 74, 238);
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #747475;
  border: none;
  padding: 12px;
  color: white;
  margin: 30px 0;
  font-size: 16px;
  font-weight: 300;
}

.form-register {
  text-align: start;
}

#validar_nombres,
#validar_apellidos,
#validar_correo {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}

#terminos {
  font-size: 18px;

  line-height: 1px;
}


a {
  text-decoration: none;
}

/*estilos tipos de pieles*/
.imagen_banner {
  position: relative;
  background-image: url(../img/SegundoBanner.jpg);
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el div */
  width: 100%; /* Hace que el div ocupe todo el ancho del contenedor */
  height: 500px; /* Establece una altura adecuada para mostrar la imagen de fondo */
  border-image: fill 0 linear-gradient(#0001,#000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Centra el texto horizontalmente */
}

.boton_banner {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
 
}

.imagen_banner h1 {
  color: white; /* Color del texto */
  font-size: 36px; /* Tamaño del texto */
  font-family: Montserrat;
  font-weight: bold; /* Peso de la fuente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para mejorar la legibilidad */
  text-align: center; /* Centra el texto horizontalmente */
}

.boton_banner {
  background-color: transparent; /* Establece el fondo del botón como transparente */
  border: 2px solid white; /* Añade un borde blanco al botón */
  border-radius: 20px; /* Hace que los bordes del botón sean redondeados */
  color:white; /* Establece el color del texto */
  padding: 15px 30px; /* Añade relleno al botón */
  font-size: 20px; /* Ajusta el tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Agrega transiciones suaves */
  display: inline-block; /* Hace que el botón se comporte como un bloque en línea */

}

.boton_banner:hover {
  background-color: rgba(238, 222, 212, 0.2); /* Cambia gradualmente el color de fondo cuando el cursor se acerca */
  transform: scale(1.1); /* Escala ligeramente el botón cuando el cursor se acerca */
}


.title_piel{
  font-weight: 800;
  color: #8C6249;
 
  background-color: rgb(221, 222, 217);
  margin-bottom: 20px;
  padding: 30px;
  font-size: x-large
  
}

.Primer_parrafo{
 
  color:#AC9D88;
  padding:10px;
  font-size: 20px;
 font-weight: 100;
  width: 100%;
}

.subtitulo{
  text-align: center;
  font-size:30px;
}

.lista_rutina {
  padding-left: 20px; /* Agrega un espacio a la izquierda para mostrar las viñetas */
  justify-content: center;
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
}

.lista_rutina li {
  font-size: 18px; /* Tamaño de fuente para los elementos de la lista */
  line-height: 1.5; /* Espacio entre líneas */
  margin-bottom: 15px; /* Espacio entre elementos de la lista */
  color: #AC9D88; /* Color del texto */
}

.resultado{
  display: none;
}

/*MEDIA QUERYS*/

/* Estilos para dispositivos con un ancho máximo de 768px (tablets en posición vertical) */
@media only screen and (max-width: 768px) {
  /*  estilos específicos para tablets en posición vertical */
.imagen_banner{
  display: flex;
  width: 100%;
  
}

  .boton_repetir_test {
    margin-top: 20px; /* Espacio superior para separar el botón del texto */
  }

  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    
  }

}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

  .title_piel {
    margin-right: 80px;
    text-align: center;
    display: flex;
    padding: 20px;
    background-color: rgb(221, 222, 217);
    width: 100%;
   
  }

  h4{
    font-size: larger;
    margin-right: 15px;
  } 
  .Primer_parrafo{
    
    width: 80%;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
  }
  .lista_rutina {
    width: 60%;
    margin-right: 80px;
    margin-left: 120px;
  
    
  } 
}

/* Estilos para dispositivos con un ancho máximo de 600px (tablets en posición horizontal y teléfonos) */
@media only screen and (min-width: 500px) and (max-width: 600px) {
  /* estilos específicos para tablets en posición horizontal y teléfonos */
  .title_piel {
    margin-right: 50px;
    padding: 20px; /* Ajusta el relleno para adaptarse mejor al espacio disponible */
    width: 100%;
  }

  h4{
    font-size: larger;
    margin-right: 15px;
  }

  .Primer_parrafo{
    margin-right: 60px;
    width: 90%;
  }
  .lista_rutina {
    width: 80%;
    margin-right: 80px;
  
    
  }

  .imagen_banner {
    width: 100%; /* Banner ocupa todo el ancho de la pantalla */
    height: auto; /* Altura automática para mantener la proporción */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el div */
    background-position: center; /* Centra la imagen de fondo */
    text-align: center; /* Centra el texto */
  }
}

/* Estilos para dispositivos con un ancho máximo de 500px (teléfonos en posición vertical) */
@media only screen and (min-width: 280px) and (max-width: 500px) {
  /*estilos específicos para teléfonos en posición vertical */


  .boton_repetir_test {
    margin-top: 10px; /* Espacio superior para separar el botón del texto */
    margin-bottom: 10px; 
    padding-bottom: 10px;
    border-radius: none;
  }

  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    margin-right: 280px;
    padding: 30px;
    
  }

  .imagen_banner h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
}
.nav-links{
  font-size: 5px;
 
}

.title_piel {
  margin-right: 30px;
  padding: 20px; /* Ajusta el relleno para adaptarse mejor al espacio disponible */
  width: 100%;
}
  
}

/* Estilos para dispositivos con un ancho máximo de 320px (teléfonos en posición horizontal) */
@media only screen and (max-width: 320px) {
  /* estilos específicos para teléfonos en posición horizontal */
  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    
    
  }

  
}


