* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 100;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

body {
  background-color: rgb(237, 238, 242);
}

header {
  width: 100%;
  color: aliceblue;
  background-color: rgb(221, 222, 217);
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  
}

.menu {
  display: flex;
  font-size: large;
  text-decoration: none;
  font-weight: 300;

}

.menu a {
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #8C6249;
  padding: 10px;
}


h1 {
  text-align: center;
  padding: 150px 200px 20px 200px;
}

h2 {
  text-align: center;
}

/*Carrusel*/

#gallery {
  width: 80%;
  padding-top: 40px;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  
}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-around
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-item img {
  border-radius: 20px;
  width: 100%;
  height: ;
  display: block;
}

.gallery-item-c{
  display: none;
}

/* Navegación del Slider */
.gallery-navigation {

  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 50%;
  background-color: transparent;
}

.nav-button {
  padding: 10px;
  color: rgb(109, 85, 65);
  font-size: 32px;
  display: flex;
  opacity: 100%;
  background-color: transparent;
  position: sticky;
  bottom: 50%;
  border-color: transparent;
}
/*Seccion destacados*/
#destaca {
  background-color: rgb(221, 222, 217);
  color: #8C6249;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 50px;
  font-weight: 400;

}

#app,
#fotoDest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

/*tarjeta producto*/

.tarjeta {
  position: relative;
  width: 250px;
  height: 450px;
  color: rgb(221, 222, 217);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 20px;
  
}

.imgb {
  width: 100%;
  height: auto;
  border-bottom: 5px solid;

}

.cuerpo {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(221, 222, 217);
  color: #8C6249;
  opacity: 20;
  transition: opacity 0.3s ease;
  text-align: center;
  font-size: 15.8px;

}

.tarjeta .cuerpo h2 {
  padding: 10px;
  font-weight: 400;
}

.tarjeta .cuerpo h3 {
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 400;
}

#comprar {
  width: 100%;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  position: sticky;
  bottom: 10px;
  padding: 10px 70px;
  background-color: #d2c1aa;
  opacity: 0%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}

.tarjeta:hover #comprar {
  opacity: 100%;
}

/*Seccion sobre nosotros*/
.sobreNosotros #SN {
  background-color: #AC9D88;
  color: aliceblue;
  margin-top: 30px;
  padding: 30px;
  font-size: 50px;
  font-weight: 300;
  width: 100%;

}

.SNConteiner {

  font-family: Montserrat;
  font-weight: 100;
  box-sizing: border-box;
}

.sobreNosotros {
  display: flex;
  flex-direction: column;
}

#cuerpoSobreNosotros,
#cuerpoSobreNosotros2 {
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 20px;
}


#fotosSobreNosotros,
#fotosSobreNosotros2 {
  width: 100%;
  height: auto;
}

.fotoS {
  width: 100%;
  height: auto;
  border-radius: 2%;

}

.textoSobreNosotros {
  font-weight: 400;
  width: 100%;
  margin: 10px;
  line-height: 55px;
  font-size: 25px;
  padding: 25px;
  display: block;
  text-indent: 30px;
}

.textoSobreNosotros h3 {
  font-weight: 400;
  color: #8C6249;
}

/*Carrusel de comentarios*/

#gallery2Coment {
  width: 100%;
  display: flex;
  margin: auto;
  padding-bottom: 30px;
}

#gallery-2 {
  width: 100%;
  padding-top: 40px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.gallery-container-comentarios {
  transition: transform 0.5s ease-in-out;
  margin: 0;
  display: flex;
  justify-content: center;
}

.gallery-item-c {
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
  text-align: center;
}

.gallery-item-c img {
  border-radius: 20px;
  width: 100%;

  height: auto;
}

#tituloProductos{
  background-color: rgb(221, 222, 217);
  color: #8C6249;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 50px;
  font-weight: 400;
 margin-top: 40px;
}

/*footer*/
footer {
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 28.8px;
  display: flex;
  justify-content: space-around;
}


.medio {
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#aFooter {
  text-decoration: none;
  color: aliceblue;
  font-size: large;

}

.izquierda {
  text-align: left;

}
.margen{
  margin-bottom: 15px;
  margin-top: 15px;
}

.margen1{
margin-top: 15px;
}

.derecha {
  text-align: left;
}

.tabla {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  padding: 0%;
  margin-top: 0px;
}

.mail::before {
  content: url(../img/email.png);
  margin-right: 5px;
}

.boton::before {
  content: url(../img/right-arrow.png);
  margin-right: 5px;
}
h6{
  margin-bottom: 15px;
  margin-top: 15px;
}
.imgFooter{
  display: flex;
  justify-content: space-between;
}
.img2Footer{
  display: flex;
  justify-content: space-between;
}
.mail{
 color: rgb(221, 222, 217);  
}

.boton{
 color: rgb(221, 222, 217);  
}

a {
text-decoration: none;
}


/*footer*/
@media (max-width: 800px) {
footer {


  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: px;
  display:block;

 
}

h6{
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.imgFooter{
  display: flex;
  justify-content:center;
}
.img2Footer{
  display: flex;
  justify-content: center;
}
.mail{
  text-align: right;
  color: rgb(221, 222, 217); 
  margin-left: 50px;
}
}

.boton{
  text-align: center;
  color: rgb(221, 222, 217);  
margin-left: 2em;
}

@media (max-width: 500px) {

  .menu,
  header {
    flex-direction: column;
  


  }

}
@media (max-width: 500px) {
  .menu a {
    font-size: 25px;
    margin: 5px;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  #gallery {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media(max-width:480px) {
  #comprar {
    width: 100%;
    font-size: medium;
    font-weight: 450;
    text-align: center;
    position: sticky;
    bottom: 10px;
    padding: 10px 50px;
    background-color: #d2c1aa;
    opacity: 50%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;


  }

  #comprar:hover {
    opacity: 100%;
  }
 

}




@media (max-width: 480px) {
  .tarjeta {
    height: 329px;
    width: 170px;
    font-size: x-small;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .tarjeta .cuerpo h2 {
    line-height:22px;
    padding-top: 10px !important;
    padding-left: 5px!important;
    padding-right: 5px !important  ;
   padding-bottom: 0%;
  }
  .tarjeta .cuerpo h3{
    font-size: 13px;
    line-height:20px;
    padding:0 ;
    font-weight: 500;
  }
}


@media (min-width: 481px) and (max-width: 800px) {
  .tarjeta {
    margin: 20px;
  }

}


@media (max-width: 480px) {
  .SNConteiner {
    flex-direction: column-reverse;
    font-family: Montserrat;
    font-weight: 100;
    box-sizing: border-box;

  }
}

@media(max-width:480px) {
  #cuerpoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

  }

}

@media(max-width:480px) {
  #cuerpoSobreNosotros2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }

}

@media(max-width:480px) {
  .textoSobreNosotros {

    width: 100%;
    margin: 10px;
    line-height: 35px;
    font-size: 20px;
    padding: 25px;
    display: block;
    text-align: center;

  }
}

@media(max-width:480px) {
  #fotosSobreNosotros img {
    content: url("../img/fotoMediaQuerySN.png");
  }

@media(max-width:480px) {
  #fotosSobreNosotros2 img {
    content: url("../img/fotoMediaQuerySN2.png");
  }
}

@media(max-width:480px) {

  #cuerpoSobreNosotros,
  #cuerpoSobreNosotros2 {
    padding: 0;

  }
}
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  #cuerpoSobreNosotros2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    margin-left: 10px;

  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  #cuerpoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}





@media(max-width:480px) {
  .gallery-item-c {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media(max-width:480px) {
  .gallery-item-c img {
    border-radius: 20px;
    width: 100%;

    height: auto;
  }
}


/*pagina registro*/
.contenedor_registro {
  background-image: url('../productos.html');
    background-size:cover ;
  }
  
  .form-register {
    width: 400px;
    background: rgb(221, 222, 217);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: grey;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: rgb(221, 222, 217);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid gray;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(74, 74, 238);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #747475;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-register  {
   text-align: start;
  }


/*estilos tipos de pieles*/
.imagen_banner {
  position: relative;
  background-image: url(../img/SegundoBanner.jpg);
  background-size: cover; 
  width: 100%; 
  height: 500px; 
  border-image: fill 0 linear-gradient(#0001,#000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; 
}

.boton_banner {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
 
}

.imagen_banner h1 {
  color: white; 
  font-size: 36px; 
  font-family: Montserrat;
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-align: center; 
}

.boton_banner {
  background-color: transparent;
  border: 2px solid white; 
  border-radius: 20px; 
  color:white; 
  padding: 15px 30px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  display: inline-block; 

}

.boton_banner:hover {
  background-color: rgba(238, 222, 212, 0.2); 
  transform: scale(1.1); 
}


.title_piel{
  font-weight: 800;
  color: #8C6249;
 
  background-color: rgb(221, 222, 217);
  margin-bottom: 20px;
  padding: 30px;
  font-size: x-large
  
}

.Primer_parrafo{
 
  color:#AC9D88;
  padding:10px;
  font-size: 20px;
 font-weight: 300;
  width: 100%;
}

.subtitulo{
  text-align: center;
  font-size:30px;
}

.lista_rutina {
  padding-left: 20px; 
  justify-content: center;
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
}

.lista_rutina li {
  font-size: 18px; 
  line-height: 1.5;
  margin-bottom: 15px;
  color: #AC9D88; 
}

.resultado{
  display: none;
}

/*MEDIA QUERYS*/


@media only screen and (max-width: 768px) {

.imagen_banner{
  display: flex;
  width: 100%;
  
}

  .boton_repetir_test {
    margin-top: 20px; 
  }

  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    
  }

}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

  .title_piel {
    margin-right: 80px;
    text-align: center;
    display: flex;
    padding: 20px;
    background-color: rgb(221, 222, 217);
    width: 100%;
   
  }

  h4{
    font-size: larger;
    margin-right: 15px;
  } 
  .Primer_parrafo{
    
    width: 80%;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
  }
  .lista_rutina {
    width: 60%;
    margin-right: 80px;
    margin-left: 120px;
  
    
  } 
}

/* Estilos para dispositivos con un ancho máximo de 600px (tablets en posición horizontal y teléfonos) */
@media only screen and (min-width: 500px) and (max-width: 600px) {
  
  .title_piel {
    margin-right: 50px;
    padding: 20px; 
    width: 100%;
  }

  h4{
    font-size: larger;
    margin-right: 15px;
  }

  .Primer_parrafo{
    margin-right: 60px;
    width: 90%;
  }
  .lista_rutina {
    width: 80%;
    margin-right: 80px;
  
    
  }

  .imagen_banner {
    width: 100%; 
    height: auto; 
    background-size: cover; 
    background-position: center; 
    text-align: center; 
  }
}

/* Estilos para dispositivos con un ancho máximo de 500px (teléfonos en posición vertical) */
@media only screen and (min-width: 280px) and (max-width: 500px) {
  


  .boton_repetir_test {
    margin-top: 10px; 
    margin-bottom: 10px; 
    padding-bottom: 10px;
    border-radius: none;
  }

  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    margin-right: 280px;
    padding: 30px;
    
  }

  .imagen_banner h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
}
.nav-links{
  font-size: 5px;
 
}

.title_piel {
  margin-right: 30px;
  padding: 20px; 
  width: 100%;
}
  
}

/* Estilos para dispositivos con un ancho máximo de 320px (teléfonos en posición horizontal) */
@media only screen and (max-width: 320px) {
  
  .lista_rutina {
    width: 100%;
    margin-left: 20px;
    
    
  }

  
}


