* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 100;
  }
  header {
    width: 100%;
    color: aliceblue;
    background-color: rgb(221, 222, 217);
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
   
  }
  a{
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    padding: px;
    font-size: large;
    text-decoration: none;
  }
  

a {
  color: aliceblue;
  font-size: x-large;
  margin: 10px;
  font-weight: 400;
  color: #8C6249
 
}

  body {
    background-image: url('../img/registro/fondo_13.jpg');
    background-size:cover ;
  }
  
  .form-register {
    width: 400px;
    background: rgb(221, 222, 217);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibri';
    color: grey;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .controls {
    width: 100%;
    background: rgb(221, 222, 217);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid gray;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
  }
  
  .form-register a {
    color: rgb(74, 74, 238);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #747475;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-register  {
   text-align: start;
  }


/*footer*/
footer {
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 28.8px;
  display: flex;
  justify-content: space-around;
}


.medio {
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#aFooter {
  text-decoration: none;
  color: aliceblue;
  font-size: large;

}

.izquierda {
  text-align: left;

}
.margen{
  margin-bottom: 15px;
  margin-top: 15px;
}

.margen1{
margin-top: 15px;
}

.derecha {
  text-align: left;
}

.tabla {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
  padding: 0%;
  margin-top: 0px;
}

.mail::before {
  content: url(../img/email.png);
  margin-right: 5px;
}

.boton::before {
  content: url(../img/right-arrow.png);
  margin-right: 5px;
}
h6{
  margin-bottom: 15px;
  margin-top: 15px;
}
.imgFooter{
  display: flex;
  justify-content: space-between;
}
.img2Footer{
  display: flex;
  justify-content: space-between;
}
.mail{
 color: rgb(221, 222, 217);  
}

.boton{
 color: rgb(221, 222, 217);  
}

a {
text-decoration: none;
}
/*footer*/
@media (max-width: 600px) {
footer {


  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: px;
 display:block;

 
}

h6{
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.imgFooter{
  display: flex;
  justify-content:center;
}
.img2Footer{
  display: flex;
  justify-content: center;
}
.mail{
  text-align: right;
  color: rgb(221, 222, 217); 
  margin-left: 50px;
}
}
.boton{
  text-align: center;
  color: rgb(221, 222, 217);  
margin-left: 2em;
}
 
  

