
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 100;
    text-decoration: none;
 }



body {
  background-color: rgb(237, 238, 242);


}

header {
  width: 100%;
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  padding: 20px;
 
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  padding: px;
  font-size: large;
  text-decoration: none;

}

a {
  color: aliceblue;
  font-size: x-large;
  margin: 10px;


}



.link-item{
  margin-top: 2rem;
  color: #444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu{
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all .2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3){
  display: none;
}


@media screen and (min-width:768px) {
  .button-menu{
    display: none;
  }

  .main-logo{
    flex-basis: 30%;
  }

  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  
  }

  .link-item{
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}


h1 {
    font-size: 36px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación centrada */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 30px; /* Espacio inferior */
}

.header-img {
    background-image: url(https://www.rommelag.com/hs-fs/hubfs/header-kosmetik.jpg?width=1920&height=650&name=header-kosmetik.jpg);
    width: 100%;
    height: 280px;
 
    background-position: center;
    position: relative; /* Añadido */
}

.header-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad negra */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
}
nav a:hover {
    transform: scale(1.2); /* Escalamos el elemento al 110% */
}



nav ul {
    list-style: none;
    display: flex; /* Usa flexbox para el diseño horizontal */
    justify-content:center; /* Centra los elementos del menú a la derecha */
    padding: 0;
    background-color:white;
}

nav li {
    margin: 0 10px; /* Espacio entre los elementos del menú */
    font-family: trirong;
    background-color:white;
}

nav li a {
    display: block;
    padding: 10px 20px; /* Aumentar el relleno de los enlaces */
    background-color:white; /* Color del fondo del menú */
    color: #191C26; /* Color del texto del menú */
    border-radius: 5px; /* Añadir bordes redondeados */
}

nav li a:hover {
    background-color:#F3E6E0 /* Color de fondo al pasar el cursor */
}


.contenedor-tarjetas {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.contenedor-tarjetas .cards {
  width: 300px; /* Ancho de las tarjetas */
  margin: 20px; /* Márgenes entre las tarjetas */
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}


.contenedor-tarjetas .cards:hover{
  transform: translateX(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.contenedor-tarjetas  .cards img{
  width: 330px;
  height: 220 px;
}
.contenedor-tarjetas .cards h4{
  font-weight: 600
}

.contenedor-tarjetas .cards p{
padding: 0 1 rem;
font-size: 16px;
font-weight: 300;
margin-bottom: 20px;
}

.contenedor-tarjetas .cards a{
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}


/* Media query para pantallas de celular */
@media screen and (max-width: 767px) {
  .contenedor-tarjetas .cards {
    width: calc(50% - 20px); /* Ancho del 50% menos los márgenes */
    flex-grow: 1; /* Permitir que las tarjetas se expandan para llenar el espacio */
  }
}



/* Estilos para el formulario */

.form-container {
  width: calc(100% - 20px); /* Ancho igual al de las tarjetas */
  margin-top: 40px; /* Espacio arriba del formulario */
  margin-bottom: 40px; /* Espacio abajo del formulario */
  background-color: #f2f2f2; /* Color de fondo del contenedor */
  padding: 20px; /* Espaciado interno del contenedor */
}


.form {
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:ae9c8f;
    display: block;
  
    max-width: 1080px;
    margin:auto;
    position: relative;
   

    
    
}



/* Estilos para las preguntas */
.form p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para las opciones */
.form input[type="radio"] {
    margin-right: 10px;
}

.form label {
    display: inline-block;
    margin-bottom: 5px;
}
/* Estilos para los botones */
.form button {
    padding: 10px 20px;
    border: none;
    background-color:#f2d8c6;
    color: rgb(66, 32, 32);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    
}

.form button:hover {
    background-color: #af724c;
    color: white;
}

.type--A{
    --line_color : #555555 ;
    --back_color : #FFECF6  ;
  }

.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 4px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}





.container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
.button:not(:last-child){
  margin-bottom : 64px ;
}

/* Media queries */
/*@media only screen and (max-width: 768px) {
    .form {
        max-width: 600px;
    }
}

@media only screen and (max-width: 480px) {
    .form {
        max-width: 400px;
        .nav-logo {
            display: none;
        }
    }
    }
*/
  
    *, *:before, *:after {
        box-sizing: border-box;
      }
      
      html {
        font-size: 100%;
      }
      
      body {
        font-family: acumin-pro, system-ui, sans-serif;
        margin: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        font-size: 14px;
        background-color: #f4f4f4;
        align-items: start;
        min-height: 100vh;
      }
      
      footer {
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  text-align: center;
  padding: 20 px;

  font-size: 28.8px;
  font-weight: 100;
  margin-top: 20px;
}

      
      .footer > * {
        flex:  1 100%;
      }
      
      .footer__addr {
        margin-right: 1.25em;
        margin-bottom: 2em;
      }
      
      .footer__logo {
        font-family: 'trirong', cursive;
        font-weight: 400;
        text-transform: lowercase;
        font-size: 1.5rem;
      }
      
      .footer__addr h2 {
        margin-top: 1.3em;
        font-size: 15px;
        font-weight: 400;
      }
      
      .nav__title {
        font-weight: 400;
        font-size: 15px;
      }
      
      .footer address {
        font-style: normal;
        color: #999;
      }
      
      .footer__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        max-width: max-content;
        background-color: rgb(33, 33, 33, 0.07);
        border-radius: 100px;
        color: #2f2f2f;
        line-height: 0;
        margin: 0.6em 0;
        font-size: 1rem;
        padding: 0 1.3em;
      }
      
      .footer ul {
        list-style: none;
        padding-left: 0;
      }
      
      .footer li {
        line-height: 2em;
      }
      
      .footer a {
        text-decoration: none;
      }
      
      .footer__nav {
        display: flex;
        flex-flow: row wrap;
      }
      
      .footer__nav > * {
        flex: 1 50%;
        margin-right: 1.25em;
      }
      
      .nav__ul a {
        color: #999;
      }
      
      .nav__ul--extra {
        column-count: 2;
        column-gap: 1.25em;
      }
      
      .legal {
        display: flex;
        flex-wrap: wrap;
        color: #999;
      }
        
      .legal__links {
        display: flex;
        align-items: center;
      }
      
      .heart {
        color: #2f2f2f;
      }


      
      @media screen and (min-width: 24.375em) {
        .legal .legal__links {
          margin-left: auto;
        }
      }
      
      @media screen and (min-width: 40.375em) {
        .footer__nav > * {
          flex: 1;
        }
        
        .nav__item--extra {
          flex-grow: 2;
        }
        
        .footer__addr {
          flex: 1 0px;
        }
        
        .footer__nav {
          flex: 2 0px;
        }
      }







.trirong-regular {
    font-family: "Trirong", serif;
    font-weight: 100;
    font-style: normal;
  }

  .trirong-black-italic {
    font-family: "Trirong", serif;
    font-weight: 900;
    font-style: italic;
  }





/*.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
   
  }*/


  @media (max-width: 500px) {

    .menu,
    header {
      flex-direction: column;
  
    }
  
  }
  